* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: #f3f4f6;
    color: black;
}

.counter-container {
    text-align: center;
    background: white;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 30px;
}

#counter {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    opacity: 100%;
}